
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>
<body>
    <div class="root">

        <section class="section-home">
            <header class="header-home">
                <img class="logo-header" src="/assets/images/logo.svg" alt="logo">
                <nav class="nav-header">
                    <ul class="menu-header">
                        <li class=item-menu><a href="#section-about">about</a></li>
                        <li class=item-menu><a href="#">how to</a></li>
                        <li class=item-menu><a href="#">faqs</a></li>
                    </ul>
                </nav>
                <a href="#" class="btn-header">contact us</a>
            </header>
            <div class="body-home">
                <div class="title-home">
                    <h1 class="title">
                        <span>Your awesome</span> 
                        <span>traffic permit</span>
                        <span>consultant.</span> 
                    </h1>
                </div>
                <div class="box-btn">
                    <a  class="btn-home" href="#">get started
                        <img src="/assets/images/arrow-right.svg" alt="">
                    </a>
                </div>
            </div>
            <img class="car" src="/assets/images/mobel.svg" alt="">  
        </section>

        <section class="section-about" id="section-about">
            <div class="content">
                <h3 class="title-about">about us</h3>
                <p>the occupational traffic permit is one of the most
                    important things is the company when carrying out 
                    freight transport. In fact, it is a prerequisite for doing
                    business traffic at all.
                </p>
                <h5 class="about-blockquote">How do you do when need to obtain
                    a comercial traffic permit for foreign
                    transport to your business?
                </h5>    
            </div>
                <img class="about-image" src="assets/images/about.svg" alt="">   
        </section>

        <section class="section-how-to">
            <img class="how-image" src="assets/images/call_img.svg" alt="">
            <div class="content-how-to">
                <h3 class="h3-how">how to apply</h3>
                <p class="how-to-description">
                    When applying for a traffic permit, there are certain requirements that 
                    you must meet that are included in the examination: 
                    requirements for professional knowledge, solid establishment, 
                    good reputation and financial resources. Important to remember 
                    is to confirm your application for a traffic permit by the company's 
                    company signer or CEO.
                </p>
            </div>
        </section>

        <section class="section-faq">
            <div class="content-faq">
                <h3>faq</h3>
                <h2>Questions and Answers<br/>
                 on Professional Traffic<br/>
                 Permits:</h2>
            </div>
            <div class="accordion-container">
                <div class="accordion-left">
                <div class="accordion ">
                <div class="accordion-body">
                    <h5>What is a professional traffic permit?</h5>
                    <img class="grid" src="assets/images/iconmenos.svg" alt="">
                </div>
                <p class="accordion-content  accordion-content-visible">
                    Traffic permits are a requirement for conducting professional traffic.
                </p>
                </div>
                <div class="accordion">
                    <div class="accordion-body">
                        <h5>How to check the traffic condition?</h5>
                        <img class="grid" src="assets/images/iconmais.svg" alt="">
                    </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
                <div class="accordion">
                    <div class="accordion-body">
                        <h5>What are the requirements for a professional traffic permit?</h5>
                        <img class="grid" src="assets/images/iconmais.svg" alt="">
                    </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
                <div class="accordion">
                    <div class="accordion-body">
                        <h5>Are there professional traffic permit training courses at a distance?</h5>
                        <img class="grid" src="assets/images/iconmais.svg" alt="">
                    </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
                <div class="accordion">
                    <div class="accordion-body">
                        <h5>When is a professional traffic permit needed?</h5>
                        <img class="grid" src="assets/images/iconmais.svg" alt="">
                    </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
            </div>
            <div class="accordion-right">
                <div class="accordion">
                    <div class="accordion-body">
                        <h5>Where to look for a traffic permit?</h5>
                        <img class="grid" src="assets/images/iconmais.svg" alt="">
                    </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
                <div class="accordion">
                    <div class="accordion-body">
                    <h5>Are there differences between a traffic permit and a professional traffic permit?</h5>
                    <img class="grid" src="assets/images/iconmais.svg" alt="">
                   </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
                <div class="accordion">
                    <div class="accordion-body">
                    <h5>Are there differences between a traffic permit and a professional traffic permit?</h5>
                    <img class="grid" src="assets/images/iconmais.svg" alt="">
                   </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
                <div class="accordion">
                    <div class="accordion-body">
                    <h5>How to plug in for the traffic permit test?</h5>
                    <img class="grid" src="assets/images/iconmais.svg" alt="">
                   </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
                <div class="accordion">
                    <div class="accordion-body">
                    <h5>How is the sample for a professional traffic permit booked?</h5>
                    <img class="grid" src="assets/images/iconmais.svg" alt="">
                    </div>
                    <p class="accordion-content">
                        Traffic permits are a requirement for conducting professional traffic.
                    </p>
                </div>
                <div class="more">
                    <h5>load more</h5>
                    <img class="grid" src="assets/images/iconmais.svg" alt="">
                </div>
            </div>
        </div>
        </section>

        <!-- section carrocel -->
        <section class="section-carrocel">
            <div class="header-carrossel">
                <h3>about us</h3>
                <div class="section-icons">
                    <img id="arrow-left" src="assets/images/arrow-left.svg" alt="">
                    <img id="arrow-right" src="assets/images/arrow-right-red.svg" alt="">
                </div>
            </div>
            <div class="body-carrossel">
                <h2>Out awesome client</h2>
                <div class="container-carrocel" id="container-carrossel">
            <div class="box">
                <p>
                    Yes, you will need to have the land owner sign the permit application as the Permittee, 
                    and you sign the permit as the Applicant or Agent for the Permittee.
                </p>
                <div class="card">
                    <img src="assets/images/img1.svg" alt="">
                    <h5>isak petterson</h5>
                </div>
            </div>
            <div class="box">
                <p>
                    From most barricade or traffic control companies located in the phone book. 
                    They employ certified Traffic Control Supervisors (TCS) who can generate and certify the traffic control plan. 
                </p>
                <div class="card">
                    <img src="assets/images/img2.svg" alt="">
                    <h5>Simon Sandberg</h5>
                </div>
            </div>
            <div class="box">
                <p>
                    An A-Line, or access restriction deed is a property right that has 
                    been obtained by CDOT for the sole purpose of prohibiting direct
                </p>
                <div class="card">
                    <img src="assets/images/img3.svg" alt="">
                    <h5>isak petterson</h5>
                </div>
            </div>    
        </section>

        <section class="section-form">
            <div class="main-section-form">
                <blockquote>
                    We provide traffic management 
                    consultants so you get started quickly, contact us for a quote today!
                </blockquote>
                <form action="/home" id="form" method="post" preventDefault="true">
                        <label class="" for="name">Name</label>
                        <input type="text" name="name" id="name" placeholder="Your name" />

                        <label class="" for="email">Email adress</label>
                        <input type="email" name="email" id="email" placeholder="Your email address"/>
                    
                        <label for="msg">Message</label>
                        <textarea id="msg" name="message" placeholder="What items do you want to transport?"></textarea>
                    
                    <button type="submit" class="btn-home btn-form">
                       get started
                            <img src="assets/images/arrow-right.svg" alt="">
                    </button>
                </form>
               
            </div>
            <div class="menu-end">
                <img src="assets/images/logo.svg" alt="">
                <nav>
                    <ul>
                        <li><a href="#">about</a></li>
                        <li><a href="#">how to</a></li>
                        <li><a href="#">faq</a></li>
                    </ul>
                </nav>
            </div>
        </section>
  
        <footer>
            <div class="footer">
                <p>copyright &copy; 2021</p>
                <div class="social">
                    <a href="#">
                        <img src="assets/images/i.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/images/t.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/images/f.svg" alt="">
                    </a>
                </div>
            </div>
        </footer>       
    </div>  
  
     
 

    <script>
   
    </script>
    <script src="/script/index.js"></script>
</body>
</html>